@{
    ViewBag.Title = "Metoda rotațiilor";
}

<h2>Metoda rotațiilor</h2>
@Html.ActionLink("Rezultate anterioare", "Load")

<hr />
<form method="post">
<div>
Numele sistemului: <input type="text" name="id" />
<br />
<input type="button" name="add" value="+" />
<input type="submit" name="Solve" value="Rezolvă" />
</div>
<br />
<div id="system">
<input type="number" value="0" size="3" name="a[0]" />x<sub>1</sub> +
<input type="number" value="0" size="3" name="a[0]" />x<sub>2</sub> <span id="lastcol0"></span>=
<input type="number" value="0" size="3" name="b[0]" />
<br />
<input type="number" value="0" size="3" name="a[1]" />x<sub>1</sub> +
<input type="number" value="0" size="3" name="a[1]" />x<sub>2</sub> <span id="lastcol1"></span>=
<input type="number" value="0" size="3" name="b[1]" />
<br />
</div>
</form>

@Html.ValidationSummary()

<script type="text/javascript">
    var ct = 2;

    function addRow(ct) {
        var a = null;
        for (var i = 0; i < ct; i++) {
            a = $('<input/>', {
                type: 'number',
                value: '0',
                size: '3',
                name: 'a[' + ct + ']'
            });
            a.appendTo('#system');
            a.after('x<sub>' + (i + 1) + '</sub>');
                    
            if (i > 0) {
                a.before(' + ');
            }
        }

        var lastCol = $('<span>', {
            id: 'lastcol' + ct
        });

        $(a[0].nextSibling.nextSibling).after(lastCol)

        $('<br/>').appendTo('#system');
    }

    function addCol(ct) {
        var elOnLastCol = null;
        for (var i = 0; i <= ct; i++) {
            var a = $('<input/>', {
                type: 'number',
                value: '0',
                size: '3',
                name: 'a[' + i + ']'
            });

            elOnLastCol = $('#lastcol' + i);
            elOnLastCol.before(a);
            a.after('x<sub>' + (ct + 1) + '</sub>');
            a.before(' + ');
        }

        var b = $('<input/>', {
            type: 'number',
            value: '0',
            size: '3',
            name: 'b[' + ct + ']'
        });

        elOnLastCol.after(b);
        b.before('= ')
    }

    $("input[name='add']").click(function () {
        addRow(ct);
        addCol(ct);

        ct++;
    });
</script>
